{{ $isList := .IsHome }}
<article class="flex flex-row gap-2 border-b border-neutral-200 pb-5 pt-5 dark:border-neutral-700">
  <div class="flex flex-1 flex-col gap-1">
    <h3 class="text-lg font-medium decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2">
      <a href="{{ .RelPermalink }}" class="text-neutral-800 decoration-primary-500 hover:decoration-2 hover:underline hover:underline-offset-2 dark:text-neutral">{{ .Title }}</a>
    </h3>
    
    {{ $showSummary := .Site.Params.list.showSummary | default false }}
    
    {{ if and (.Params.showSummary | default $showSummary) (not .Params.noSummary) }}
    <div class="line-clamp-2 font-normal text-neutral-600 dark:text-neutral-400">
      {{ with .Description }}
        {{ . }}
      {{ else }}
        {{ .Summary | plainify | htmlUnescape }}
      {{ end }}
    </div>
    {{ end }}
    
    <div class="flex flex-wrap gap-1">
      {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="inline-block rounded bg-neutral-100 px-1 text-xs font-medium text-neutral-600 transition hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-primary-400 dark:hover:text-neutral-800">
          {{ .LinkTitle }}
        </a>
      {{ end }}
      
      {{ if .Params.weight }}
        <span class="inline-block rounded bg-neutral-200 px-1 text-xs font-medium text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200">
          权重: {{ .Params.weight }}
        </span>
      {{ end }}
    </div>
    
    <div class="flex flex-wrap items-center font-normal text-neutral-500 dark:text-neutral-400">
      {{ partial "article-meta.html" . }}
    </div>
  </div>
</article>
